.enter {
  // opacity: 0;
  transform: translateX(50rem);
}
.enterActive {
  // opacity: 1;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
.exit {
  // opacity: 1;
  transform: translateX(0);
}
.exitActive {
  // opacity: 0;
  transform: translateX(50rem);
  transition: transform 0.3s ease-in-out;
}
