.deckListItem {
  display: flex;
  height: 13rem;
  width: 13rem;
  background-color: $white;
  border-radius: 3rem;
  box-shadow: 0px 0px 8px -5px $dark-grey;
  transition: all 0.2s ease-out;

  & > span {
    display: none;
    @include mq($from: 'small') {
      content: 'x';
      display: block;
      opacity: 0;
      height: 3rem;
      width: 3rem;
      position: absolute;
      top: -1rem;
      left: -1rem;
      text-align: center;
      border: 0.1rem solid #3a3a3a;
      border-radius: 100%;
      background-color: #3a3a3a;
      color: white;
      cursor: pointer;
      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }

  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: $flingo-darkBlue;

    span {
      @include font-size('t14');
      margin-top: -1.5rem;

      svg {
        height: 4rem;
        width: 4rem;

        path {
          stroke: $white;
        }
      }
    }
  }

  &:first-of-type {
    background-color: $flingo-darkBlue;

    p {
      color: $white;
    }
  }

  &:hover {
    transform: translateY(-1rem);
  }
}
