.homePage {
  padding: 0 2rem;
  margin-bottom: 8rem;
  @include mq($from: 'small') {
    margin: 0;
    height: calc(100vh - 7rem);
    display: flex;
    // align-items: center;

    // div:first-of-type {
    //   width: 100%;
    // }
  }

  .homePageInner {
    width: 100%;
    max-width: 75rem;
    margin: 3rem auto 0;

    & > div {
      padding: 3rem 0;
    }

    .searchBar {
      display: flex;
      justify-content: center;

      label {
        width: 80%;
        @include mq($from: 'small') {
          width: 50%;
        }
      }
    }
  }
}
