// Set font-size to 62.5% so that 1rem = 10px
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font-size;
  background-color: $light-grey;
  color: $dark-grey;
  font-family: $font-family-base;
  font-weight: $weight-light;
  line-height: 1.5;
  margin: 0;
  position: relative;
  overflow-x: hidden; // hide horizontal scrollbar during transitions

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background-color: $dark-grey;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $flingo-darkBlue;
  }
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

blockquote,
dl,
dd,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
pre {
  margin: 0;
}

// button {
//   background: transparent;
//   border: 0;
//   padding: 0;
// }

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $dark-grey;
  text-decoration: none;
}

// label:not(:global(.no-bg)):not(:global(.no-styles)) {
//   width: 100%;
//   background-color: $white;
//   border-radius: 3rem;
//   margin-bottom: 1rem;
//   position: relative;
//   z-index: 1;

//   input[type='text'],
//   textarea {
//     // @include font-size('t5');
//     position: relative;
//     display: block;
//     width: 100%;
//     background: $white;
//     border-radius: 3rem;
//     color: $dark-grey;
//     line-height: 1.2;
//     outline: none;
//     border: none;
//     appearance: none;
//     -webkit-appearance: none;

//     &::-webkit-input-placeholder {
//       /* Chrome/Opera/Safari */
//       color: $mid-grey;
//     }
//     &::-moz-placeholder {
//       /* Firefox 19+ */
//       color: $mid-grey;
//     }
//     &:-ms-input-placeholder {
//       /* IE 10+ */
//       color: $mid-grey;
//     }
//     &:-moz-placeholder {
//       /* Firefox 18- */
//       color: $mid-grey;
//     }

//     & + span {
//       display: block;
//       position: absolute;
//       z-index: -1;
//       width: 100%;
//       height: 100%;
//       top: 0;
//       left: 50%;
//       transform: translateX(-50%);
//       border-radius: 3rem;
//       background-color: $white;
//       pointer-events: none;
//       transition: all 0.3s;
//     }

//     &:focus + span {
//       width: calc(100% + 1rem);
//     }

//     &:focus {
//       border-color: transparent !important;
//     }
//   }

//   input[type='text'] {
//     height: 5rem;
//     padding: 0 3rem;
//   }

//   textarea {
//     min-height: 5rem;
//     padding: 1.5rem 3rem;
//   }
// }

// label:global(.no-bg),
// label:not(:global(.no-styles)) {
//   width: 100%;
//   position: relative;
//   border-bottom: 0.2rem solid $mid-grey;
//   margin-bottom: 1rem;

//   input[type='text'],
//   textarea {
//     // @include font-size('t5');
//     display: block;
//     width: 100%;
//     background: transparent;
//     color: #333333;
//     line-height: 1.2;
//     padding: 0 0.5rem;
//     outline: none;
//     border: none;
//     height: 3rem;

//     &:focus {
//       border-color: transparent !important;

//       + span::before {
//         width: 100%;
//       }
//     }

//     & + span {
//       position: absolute;
//       display: block;
//       width: 100%;
//       height: 100%;
//       top: 0;
//       left: 0;
//       pointer-events: none;

//       &::before {
//         content: '';
//         display: block;
//         position: absolute;
//         bottom: -0.2rem;
//         left: 0;
//         width: 0;
//         height: 0.2rem;
//         transition: all 0.3s;
//         background: $dark-grey;
//       }
//     }
//   }
// }

// :global {
//   .blob {
//     pointer-events: none;
//     position: fixed;
//     object-fit: cover;
//     z-index: -1;
//     transform: translate(40rem, -16rem) rotate(45deg);
//     transition: transform 0.3s ease 0s;
//   }
// }
